@import '../../styles/_vars.scss';
@import '../../styles/_mixins.scss';

.hamburgeropen ~ .nav-container {
    left: 0;
    @include animation('animatedNav .15s');
}
.nav-container {
    height: 90vh;
    width: 100vw;
    position: relative;
    background: $base-color;
    color: $font-color;
    overflow: hidden;
    left: -100vw;
    transition: (.15s);
}
.nested-nav {
    height: 90vh;
    width: 100vw;
    position: absolute;
    background: $base-color;
    color: $font-color;
    h1 {position: absolute; height: 8vh};
    .parent {
        span {margin: 0 0 0 1rem}
        .button {position: absolute; right: 1rem; color: $font-color; font-size: 1.5rem};
    }
}
.container-one {
    li {
        padding-top: .5rem;
        height: 8vh;
        position: relative;
        padding-top: .5rem; 
        border-bottom: .025rem $accent solid;
    }
    .i {        
        padding-top: .5rem;
        padding-left: .5rem;
        font-size: 1.5rem;
    }
}
.container-two-true {
    & ~ .container-one {
        position: relative;
    }
    & ~ .container-one span {
        visibility: hidden;
    }
    & ~ .container-one .button {
        visibility: hidden;
      }
    & ~ .container-one .parentselected {
        color: $accent-two;
        animation: fadeInfadeOut .8s forwards;
        background-color: $base-color;
    }
    right: 0;
    margin-left: 15vw;
    width: 85vw;
    height: 100vh;
    z-index: 1;
    background: $base-color;
    position: absolute;
    @include animation('animatedNavRight 1s');
    h1 {        
        padding: .5rem;
        height: 8vh;
    }
    li {
        padding-top: .5rem;
        height: 7vh;
        position: relative;
        padding-top: .5rem;
        padding-left: .5rem;
        border-left: .025rem $accent solid; 
    }
    .i {position: absolute; right: 1rem; color: $font-color; font-size: 1.5rem};
}
@keyframes animatedNav {
    0% {transform: translateX(-100%)}
    100% {transform: translateX(0)}
}
@keyframes animatedNavRight {
    0% {transform: translateX(100%)}
    100% {transform: translateX(0)}
}
@keyframes fadeInfadeOut {
    from {background-color: $header-color}
    to {background-color: $base-color}
}