* {
    position: static;
    height: auto;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    border: none;
    outline: none;
    list-style: none;
  }

  html, body {
  position: absolute;
  html { font-size: 62.5%; }
  head,link,script { display: none; }
  body { position: relative;}
  span, em, strong, i { display: inline;}
}
  input, textarea {
    &:focus {
      outline: none;
      border: none;
    }
  }