@media (max-width: 700px) {
    .app {
        display: block;
    }
    h1.overlay {
        display: none;
    }
}
@media (min-width: 700px) {
    .app-overlay {
        width: 100vw;
        height: 100vh;
        background-image: url('../../assets/serenity.png');
        background-size: cover;
        background-size: 100% 100%;
        background-repeat: no-repeat, repeat;
        h1 {
            position: absolute;
            color: white;
            font-size: 2rem;
            margin: 3rem 0 0 2rem;
        }
    }
}