@import '../../styles/_vars.scss';

.header {
    height: 10%;
    width: 100vw;
    padding-top: .8rem;
    padding-bottom: .8rem; 
    background-color: $header-color;
    img {
        height: 2rem;
        width: 11rem;
        margin-left: .8rem;
    }
}